.first-block{
    background: url("../img/Image.svg") no-repeat center;
    height: 120vh;
    background-size: cover;
    position: relative;
}

.hero-text {
    margin-top: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

